@model IEnumerable<FirstProject.Models.Patient>

@{
    ViewData["Title"] = "Patient Report";
    ViewData["AdminId"] = ViewBag.AdminId;
    ViewData["AdminName"] = ViewBag.AdminName;
    ViewData["AdminIamge"] = ViewBag.AdminIamge;
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    int counter = 1;
}

<div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a asp-controller="AdminDashboard" asp-action="Index">Home</a></li>
          <li class="breadcrumb-item">Patients Rebort</li>
         
        </ol>
      </nav>
</div><!-- End Page Title -->



<div class="row">
<div class="col-md-12 col-sm-12 mb-30">
    <div class="card card-statistics h-100">
                <div class="card-body">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Patient Report"</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <table id="datatable-buttons" class="table table-hover table-sm table-bordered p-0" style="width:100%;text-align: center">
                      <thead class="bg-dark text-white font-weight-bold">
                        <tr>
                           <th>#</th>
                          <th>Full Name</th>
                          <th>Email</th>
                          <th>Bairth of Date</th>
                          <th>Gender</th>
                          <th>Phone</th>
                        </tr>
                      </thead>
                      <tbody class="font-weight-bold">
                      @foreach (var item in Model) {
                           
                        <tr>
                          <td>@counter</td>
                          <td>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</td>
                          <td> @Html.DisplayFor(modelItem => item.Email)</td>
                          <td> @Html.DisplayFor(modelItem => item.Bod)</td>
                          <td> @Html.DisplayFor(modelItem => item.Gender)</td>
                          <td> @Html.DisplayFor(modelItem => item.Phone)</td>
                       </tr>
                        counter++;
                       }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
           </div>
          </div>
          </div>
          </div>

</div>
