@model IEnumerable<FirstProject.Models.Appointment>

@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";

    ViewData["DoctorId"] = ViewBag.DoctorId;
    ViewData["DoctorName"] = ViewBag.DoctorName;
    ViewData["DoctorIamge"] = ViewBag.DoctorIamge;

    int counter = 1;
}


<div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a asp-controller="DoctorDashboard" asp-action="Index">Home</a></li>
          <li class="breadcrumb-item">Appointments Information</li>
         
        </ol>
      </nav>
</div><!-- End Page Title -->

<div class="row">
<div class="col-md-12 col-sm-12 mb-30">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Appointment Information</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content py-3">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <table id="datatable-fixed-header" class="table table-hover table-sm table-bordered p-0" style="width:100%;text-align: center">
                      <thead class="bg-dark text-white font-weight-bold">
                        <tr>
                           <th>#</th>
                          <th>Patient Name</th>
                          <th>Appointment Date</th>
                          <th>Appointment Time</th>
                          <th>Appointment Status</th>
                          <th>Processes</th>
                        </tr>
                      </thead>
                      <tbody class="font-weight-bold">
                      @foreach (var item in Model) {
                           
                        <tr>
                          <td>@counter</td>
                          <td>@Html.DisplayFor(modelItem => item.Patient.FirstName)</td>
                          <td>@Html.DisplayFor(modelItem => item.AppointmentDate)</td>
                          <td>@Html.DisplayFor(modelItem => item.AppointmentTime)</td>
                         <td>
                             <div class="h4">
  
                           @if(item.Status == "0"){
                              <span class="badge badge-warning h5 btn-round-full">pending request</span>                            
                            }
                             @if(item.Status == "1"){
                              <span class="badge badge-success h5">approved</span>                            
                            }
                             @if(item.Status == "-1"){
                              <span class="badge badge-danger h5">rejected</span>                            
                            } 
                            </div>
                         </td>
                          <td>
                            <a asp-action="EditAppointment" asp-controller="DoctorDashboard" asp-route-id="@item.Id" class="btn btn-info btn-sm" role="button" aria-pressed="true" title="Edit"><i class="fa fa-edit"></i></a> 
                            <a asp-action="AppointmentDetails" asp-controller="DoctorDashboard" asp-route-id="@item.Id" class="btn btn-warning btn-sm" role="button" aria-pressed="true" title="Details"><i class="fa fa-eye"></i></a>
                            @if(item.Status == "0")
                            {
                                                    
                            }
                             else
                            {
                               <a data-target="#Send_Email_@item.Id" data-toggle="modal" class="btn btn-danger btn-sm text-white" role="button" aria-pressed="true" title="Send Email" style="cursor:pointer;" ><i class="fa fa-envelope-o"></i></a>
                            }                
                        </td>
                       </tr>
                        counter++;

                         <!-- Send Email-->
                                <div class="modal fade" id="Send_Email_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 style="font-family: 'Cairo', sans-serif;" class="modal-title" id="exampleModalLabel">Send Email</h5>
                                                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form asp-action="SendEmail" asp-controller="DoctorDashboard">
                                                    <h5 class="text-dark font-weight-bold text-center" style="font-family: 'Cairo', sans-serif;">Send Email to Confirm/Reject the Patient Reservation</h5>
                                                    <div class="row py-3">
                                                        <div class="col-lg-12">
                                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                                <input type="hidden" name="to" value="@item.Patient.Email" />
                                                                <div class="form-group">
                                                                    <label class="control-label text-dark font-weight-bold">Patient Name:</label>
                                                                    <input class="form-control" type="text" value="@item.Patient.FirstName @item.Patient.LastName" disabled/>
                                                                </div>
                                                                <div class="form-group">
                                                                     <label class="control-label text-dark font-weight-bold">Email Subject: <span class="text-danger">*</span></label>
                                                                    @if(item.Status == "1"){
                                                                      <input name="subject" id="subject" value="Health Care/ Confirm Your Reservation" type="hidden"/>
                                                                      <input class="form-control" value="Confirm The Reservation" disabled/>
                                                                    }
                                                                     @if(item.Status == "-1"){
                                                                      <input name="subject" id="subject" class="form-control" value="Health Care/ Reject Your Reservation" type="hidden"/>  
                                                                      <input class="form-control" value="Reject The Reservation" disabled/>
                                                                    }
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label text-dark font-weight-bold">Email Body: <span class="text-danger">*</span></label>
                                                                    <textarea name="body" id="body" class="form-control" required></textarea>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary"><i class="fa fa-send-o"></i> Send Mail</button>
                                                    </div>
                                                    </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- /End Send Email -->


                       }
                      </tbody>
                    </table>
                    
                  </div>
                </div>
              </div>
            </div>
           </div>
          </div>

</div>
@*

<h1>Appointments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Bod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Bod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
