@model IEnumerable<FirstProject.Models.Specialization>

@{
    ViewData["Title"] = "Specializations Information";
    ViewData["AdminId"] = ViewBag.AdminId;
    ViewData["AdminName"] = ViewBag.AdminName;
    ViewData["AdminIamge"] = ViewBag.AdminIamge;
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    int counter = 1;
}
<div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a asp-controller="AdminDashboard" asp-action="Index">Home</a></li>
          <li class="breadcrumb-item">Specializations Information</li>
         
        </ol>
      </nav>
</div><!-- End Page Title -->
<div class="row">
<div class="col-md-12 col-sm-12 mb-30">
    <div class="card card-statistics h-100">
                <div class="card-body">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Specializations Information</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                        <a asp-action="Create" class="btn btn-outline-primary btn-lg" role="button"
                       aria-pressed="true">Add Specialization</a>
                       <br><br>
                    </p>
                    <table id="datatable-fixed-header" class="table table-hover table-sm table-bordered p-0" style="width:100%;text-align: center">
                      <thead class="bg-dark text-white font-weight-bold">
                        <tr>
                            <th>#</th>
                          <th>@Html.DisplayNameFor(model => model.Name)</th>
                          <th>Processes</th>
                        </tr>
                      </thead>
                      <tbody class="font-weight-bold">
                      @foreach (var item in Model) {
                           
                        <tr>
                          <td>@counter</td>
                          <td>@Html.DisplayFor(modelItem => item.Name)</td>
                          
                          <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm" role="button" aria-pressed="true" title="Edit"><i class="fa fa-edit"></i></a> 
                            <a data-target="#Delete_Specialization_@item.Id" data-toggle="modal" class="btn btn-danger btn-sm text-white" role="button" aria-pressed="true" title="Delete" style="cursor:pointer;"><i class="fa fa-trash"></i></a>
                          </td>
                       </tr>
                        counter++;

                        
                               <!-- Deleted Clinic -->
                                <div class="modal fade" id="Delete_Specialization_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 style="font-family: 'Cairo', sans-serif;" class="modal-title" id="exampleModalLabel">Deleted</h5>
                                                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                 <input type="hidden" asp-for="@item.Id" />
                                                    <h5 class="text-dark font-weight-bold" style="font-family: 'Cairo', sans-serif;">Are you sure you want to delete this?</h5>
                                                    <label class="text-color-primary font-weight-bold">Specialization Name : @Html.DisplayFor(modelItem => item.Name)</label>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /End Deleted Clinic -->

                       }
                        
               
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
           </div>
          </div>
          </div>
          </div>

</div>
